.bgded{
    background-color: #202020;
    color: var(--color-white);   
    .container{
    display: flex;
    }
    &__left-panel{
       width: 50%;
       @media only screen and (max-width:$md){
        display: none;
      }
       img{
           width: 100%;
           height: 100%;
           object-fit: cover;
       }
    }
   &__right-panel{
    padding: 8rem 0;
   }
    ul{
        list-style: none;

    }
    ul li{
        padding: .5rem 0;
        font-size: 1.6rem;
    }
   i{
       color: var(--color-primary);
   }
   p{
       font-size: 1.4rem;
   }
}