.btn {
  display: inline-block;
  border-radius: 0;
  transition: all 0.5s;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1rem 6rem;
  outline: none;
  &:focus {
    outline: none;
    box-shadow: none;
  }
  &-primery {
    background-color: var(--color-primary);
    color: white;
    border-color: transparent;
    &:focus{
      outline: none;
    }
    &:hover {
      color: black;
      background-color: transparent;
      border-color: black;
    }
    &-bw{
      &:hover{
        color: var(--color-white);
        border-color: var(--color-white);
      }
    }
  }

  &-white {
    color: var(--color-primary);
    background-color: var(--color-white);
    border: 1px solid transparent;
    outline: none;
    &:focus{
      outline: none;
    }
    &:hover {
      color: var(--color-white);
      background-color: transparent;
      border-color: var(--color-white);
    }
  }
}
